---
const { link, dark, number, text } = Astro.props;
---

{
  link ? (
    <a href={link} class:list={["number-nav", { dark }]}>
      <span>{number}</span>
      <div>{text}</div>
    </a>
  ) : (
    <div class:list={["number-nav", { dark }]}>
      <span>{number}</span>
      <div>{text}</div>
    </div>
  )
}

<style>
  .number-nav {
    border: 1px solid var(--color-primary--dark);
    color: var(--color-primary--dark);

    display: grid;
    grid-template-columns: 56px 1fr;
    font-size: var(--font-size-1);
    font-style: italic;
    font-weight: 100;
    margin-bottom: -1px;
    text-decoration: none;
    transition: all ease-in-out 0.5s;

    & span {
      border-right: 1px solid var(--color-primary--dark);

      font-style: italic;
      padding: var(--space-s);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & div {
      padding: var(--space-s);
      display: flex;
    }
  }

  .number-nav.dark {
    border: 1px solid var(--color-primary--light);
    color: var(--color-primary--light);

    & span {
      border-right: 1px solid var(--color-primary--light);
    }
  }

  a.number-nav.dark:hover {
    color: var(--color-primary--dark);
    border: 1px solid var(--color-primary--light);
    background-color: var(--color-primary--light);
  }
</style>
