---
import "../styles/global.css";

import InnerNav from "../components/InnerNav.astro";
import Footer from "../components/Footer.astro";
import About from "../components/About.astro";

const { frontmatter } = Astro.props;

const projectMetaInfo = [
  { label: "Role", calloutText: frontmatter.role },
  { label: "Industry", calloutText: frontmatter.industry },
  { label: "Tech Stack", calloutText: frontmatter.stack },
  { label: "Team Size", calloutText: frontmatter.teamSize },
  { label: "Tenure", calloutText: frontmatter.tenure },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    <InnerNav />
    <main id="main-content">
      <h1>{frontmatter.pageTitle}</h1>
      <About pageIndex={1} pageTitle="At a Glance" listItems={projectMetaInfo}>
        {frontmatter.atAGlance}
      </About>
      <slot />
    </main>
    <Footer />
  </body>
</html>
